<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="expo.modules.wearbridge">
    <!-- Huawei Wear Engine: cihaz listesi + saate şablon bildirim (GT/Fit skor butonları) -->
    <uses-permission android:name="com.huawei.wearengine.permission.DEVICE_MANAGER" />
    <uses-permission android:name="com.huawei.wearengine.permission.NOTIFY" />
    <queries>
        <package android:name="com.huawei.health" />
        <package android:name="com.huawei.wearengine" />
    </queries>
</manifest>
